body{
   background-image:none;
   font-size:23px;
}
.page2{
   margin:0px;  
   font-family:'source sans Pro', calibri, thahoma, sans-serif;
   font-size:20px;
   border:5px solid navy;
   border-shadow:2px 4px 3px black; 
   padding:60px;
   border-radius:5px;
   background-image:none;
}



h2{
   color:navy;
   font-size:30px;
}
