body{
   background-image:none;
}
.page{
   margin:0px 5%;
   padding:0px;
   Border:5px solid navy;
   Border-radius:10px;
   box-shadow:2px 4px 3px black;
   padding:40px;
   font-family:'source sans Pro', calibri, thahoma, sans-serif;
}

.texte{
   font-weight: bold;
}

#infophoto-gauche p{
   margin:left;
   font-weigth:normal;
   font-size:20px;
   font-family:'source sans Pro', calibri, thahoma, sans-serif;
   
}
#infophoto-gauche a{
   text-decoration:none;

}
#info-gauche p{
   margin:left;
   font-weigth:normal;
   font-size:20px;
   font-family:'source sans Pro', calibri, thahoma, sans-serif;
}

#photo-droite p{
   background-image:url(photo.jfif);
   background-repeat:no-repeat;
   background-position:top right;
   object-fit:cover;
}
.h2:hover{
   color:red;
}
.titre:hover{
   color:red;
}
.section-gauche:hover{
   color:red;
}
.sections{
    margin-bottom:20px;
    text-align:none;
    font-family:'source sans Pro', calibri, thahoma, sans-serif;
}
.section-gauche{
   float:left;
   font-weight:bold;
   font-size:20Px;
}
.section-droite{
   margin-left:200px;
   margin-top:40px;
   font-size:20px;
}

h2{
   font-size:28px;
   color:navy;
   border-bottom:1px solid navy;
}
.duree{
   font-weight:normal;
   font-style:italic;
   font-size:16px;
}
.titre{
   font-weight:normal;
   font-size:20px;
   color:navy;
   border-bottom:1px solid navy;
}
#formation-gauche p{
   margin-top:15px;
}
#Expériences-gauche p{
   margin-bottom:25%;
}
#Langues-gauche p{
   margin-bottom:0%;
   text-align:inherit;
}
#Langues-droite p{
   margin-top:10px;
   text-align:inherit;
}
#Autres-gauche p{
   margin-bottom:35px;
}
#Autres-droite p{
   margin-bottom:23px;
}


